@media all and (min-width: 600px) and (max-width: 1023px) {
body {
 background: #003DE3;
 cursor: url('../cursor.svg'), auto;
}
body img, body p, body div{
  position: absolute;
}
/* first game */
.balerina {
  width: 56vw;
  left: 22.58vw;
  top: 36vw;
}
.hat {
  width: 28.9vw;
  left: 18.6vw;
  top: 13.6vw;
}
.crown {
  width: 19vw;
  left: 57.6vw;
  top: 9.6vw;
}
.flowers {
  width: 14.91vw;
  left: 11.6vw;
  top: 82.6vw;
}
.hat2 {
  width: 30vw;
  left: 6.6vw;
  top: 36.6vw;
}
.veer {
  width: 16vw;
  left: 73.6vw;
  top: 27.6vw;
}
.necklace {
  width: 8.91vw;
  left: 82.6vw;
  top: 50.6vw;
}
.crown2 {
  width: 15.91vw;
  left: 76.6vw;
  top: 75.6vw;
}
.glasses {
  width: 16.91vw;
  left: 7.6vw;
  top: 103.6vw;
}
.magicwand {
  width: 16.91vw;
  left: 23.6vw;
  top: 113.6vw;
  padding-bottom: 7vw;
}
.glove {
  width: 16.21vw;
  left: 59.6vw;
  top: 118.6vw;
}
.glove2 {
  width: 16.21vw;
  left: 75.6vw;
  top: 103.6vw;
}
.cross {
  width: 11.91vw;
  left: 83.6vw;
  top: 4vw;
}
.wardrobe {
}
/* third game */
.floor {
  width: 145vw;
  transform: rotate(90deg);
  left: -23vw;
  top: 22vw;
}
.copito {
  width: 75vw;
  left: -16.4vw;
  top: -18.3vw;
}
.copito2 {
  width: 47vw;
  left: 52.6vw;
  top: -2.3vw;
}
.copito3 {
  width: 78vw;
  left: -25.4vw;
  top: 69vw;
}
.copito4 {
  width: 33vw;
  left: 62.6vw;
  top: 43.7vw;
  transform: rotate(270deg);
}
.copito5 {
  width: 52vw;
  left: 47.6vw;
  top: 80.7vw;
}
.floorpole {
}
.cross2 {
  width: 8.91vw;
  left: 87.6vw;
  top: 3.6vw;
}
/* second game */
.yellowcircle {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 8.6vw;
  top: 7.6vw;
  border-radius: 100%;
}
.whitecircle {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 30.2vw;
  top: 7.6vw;
  border-radius: 100%;
}
.pinkcircle {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 52.2vw;
  top: 7.6vw;
  border-radius: 100%;
}
.yellowcircle2 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 73.2vw;
  top: 7.6vw;
  border-radius: 100%;
}
.whitecircle2 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 8.6vw;
  top: 28.6vw;
  border-radius: 100%;
}
.pinkcircle2 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 30.2vw;
  top: 28.6vw;
  border-radius: 100%;
}
.whitecircle3 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 8.6vw;
  top: 96vw;
  border-radius: 100%;
}
.yellowcircle3 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 30.2vw;
  top: 96vw;
  border-radius: 100%;
}
.pinkcircle3 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 73vw;
  top: 118vw;
  border-radius: 100%;
}
.yellowcircle4 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 52.2vw;
  top: 118vw;
  border-radius: 100%;
}
.pinkcircle4 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 8.6vw;
  top: 118vw;
  border-radius: 100%;
}
.whitecircle4 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 30.2vw;
  top: 118vw;
  border-radius: 100%;
}
.yellowcircle5 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 52.2vw;
  top: 28.6vw;
  border-radius: 100%;
}
.whitecircle5 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 73.2vw;
  top: 28.6vw;
  border-radius: 100%;
}
.yellowcircle6 {
  width: 15.91vw;
  left: 8.6vw;
  top: 51vw;
  padding-bottom: 6vw;
}
.pinkcircle5 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 8.6vw;
  top: 74vw;
  border-radius: 100%;
}
.yellowcircle7 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFCF01;
  left: 73.2vw;
  top: 74vw;
  border-radius: 100%;
}
.pinkcircle6 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 52.2vw;
  top: 96vw;
  border-radius: 100%;
}
.whitecircle6 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FFFFFF;
  left: 73vw;
  top: 96vw;
  border-radius: 100%;
}
.whitecircle7 {
  width: 6vw;
  height: 6vw;
  background: #FD5B7D;
  left: 59.9vw;
  top: 66.3vw;
  border-radius: 100%;
}
.pinkcircle7 {
  width: 15.91vw;
  height: 15.91vw;
  background: #FD5B7D;
  left: 73.2vw;
  top: 51vw;
  border-radius: 100%;
}
.pinkcircle8 {
  width: 6vw;
  height: 6vw;
  background: #FFCF01;
  left: 46.2vw;
  top: 80.3vw;
  border-radius: 100%;
}
.yellowcircle8 {
  width: 6vw;
  height: 6vw;
  background: #FFFFFF;
  left: 32vw;
  top: 66.3vw;
  border-radius: 100%;
}
.pinkcircle9 {
  width: 6vw;
  height: 6vw;
  background: #FFCF01;
  left: 46.2vw;
  top: 52.1vw;
  border-radius: 100%;
}
.greencircle {
  width: 39vw;
  height: 39vw;
  background: #55C9BB;
  left: 29.5vw;
  top: 50vw;
  border-radius: 100%;
}
.bigredcircle {
  width: 16.91vw;
  height: 16.91vw;
  background: #FD5B7D;
  left: 40.6vw;
  top: 61.5vw;
  border-radius: 100%;
}
.arrow {
  width: 8.9vw;
  left: 44.6vw;
  top: 54.7vw;
}
.swirl {
  transition: all 1s linear;
}
.swirl.transform {
  transform: rotate(180deg);
}
.twister {
}
/* menu */
.leg1 {
  width: 25vw;
  left: 24.5vw;
  top: 109vw;
  transform: rotate(180deg);
}
.leg12 {
  width: 25vw;
  left: 24.5vw;
  top: 109vw;
  transform: rotate(180deg);
}
.leg2 {
  width: 25vw;
  left: 51.5vw;
  top: 109vw;
  transform: rotate(180deg);
}
.leg23 {
  width: 25vw;
  left: 51.5vw;
  top: 109vw;
  transform: rotate(180deg);
}
.move {
   animation: move 1.5s ease infinite;
 }
 @keyframes move {
  0% {top: 127vw;}
  70% {top: 109vw;}
 }
 .move2 {
    animation: move2 1.5s ease alternate infinite;
  }
  @keyframes move2 {
   20% {top: 127vw;}
   90% {top: 109vw;}
  }
.head {
  width: 32vw;
  left: 35vw;
  top: -2.4vw;
}
.head2 {
  width: 32vw;
  left: 35vw;
  top: -2.4vw;
}
.look {
   animation: look 1.5s ease alternate infinite;
 }
 @keyframes look {
  0% {top: -3.4vw;}
  50% {top: -16.4vw;}
  100% {top: -3.4vw;}
 }
.clothesforbalerina {
  width: 41vw;
  left: 14.6vw;
  top: 56vw;
}
.learntodance {
  width: 38vw;
  left: 32.6vw;
  top: 69vw;
}
.clearthefloor {
  width: 40vw;
  left: 48.6vw;
  top: 82vw;
  padding-bottom: 6vw;
}
.strelka {
  width: 17vw;
  left: 8.6vw;
  top: 62.6vw;
}
.size {
   animation: size 1.5s ease-in alternate infinite;
 }
@keyframes size {
 0% {width: 13vw;}
 70% {width: 16vw;}
}
.strelka2 {
  width: 16vw;
  left: 78.6vw;
  top: 73.6vw;
}
.none {
  display: none;
}
.alert {
  width: 56vw;
  left: 22vw;
  top: 50.6vw;
}
.good {
  width: 22vw;
  left: 39vw;
  top: 77.6vw;
}
.alert2 {
  width: 56vw;
  left: 22vw;
  top: 50.6vw;
}
.good2 {
  width: 22vw;
  left: 39vw;
  top: 77.6vw;
}
.alert3 {
  width: 56vw;
  left: 22vw;
  top: 50.6vw;
}
.good3 {
  width: 22vw;
  left: 39vw;
  top: 75.6vw;
}
.thankyou {
  width: 56vw;
  left: 22vw;
  top: 54vw;
}
.danceisover {
  width: 56vw;
  left: 22vw;
  top: 54vw;
}
.ready {
  width: 39vw;
  left: 55vw;
  top: 19.6vw;
}
.cop {
  width: 10vw;
  left: 55.1vw;
  top: 10.7vw;
}
.cop2 {
  width: 10vw;
  left: 55.1vw;
  top: 99vw;
}
.cop3 {
  width: 10vw;
  left: 76.1vw;
  top: 121vw;
}
.cop4 {
  width: 10vw;
  left: 11.6vw;
  top: 77vw;
}
.cop5 {
  width: 10vw;
  left: 11.6vw;
  top: 121vw;
}
.cop6 {
  width: 10vw;
  left: 32.8vw;
  top: 32vw;
}
.cop7 {
  width: 10vw;
  left: 76.2vw;
  top: 53.7vw;
}
.cop8 {
  width: 10vw;
  left: 75.9vw;
  top: 76.7vw;
}
.cop9 {
  width: 10vw;
  left: 11.5vw;
  top: 10.7vw;
}
.cop10 {
  width: 10vw;
  left: 32.9vw;
  top: 99vw;
}
.cop11 {
  width: 10vw;
  left: 76vw;
  top: 11vw;
}
.cop12 {
  width: 10vw;
  left: 54.9vw;
  top: 31.5vw;
}
.cop13 {
  width: 10vw;
  left: 55vw;
  top: 121vw;
}
.cop14 {
  width: 10vw;
  left: 11.5vw;
  top: 54vw;
}
.cop15 {
  width: 10vw;
  left: 12vw;
  top: 98.7vw;
}
.cop16 {
  width: 10vw;
  left: 76vw;
  top: 98.9vw;
}
.cop17 {
  width: 10vw;
  left: 33.5vw;
  top: 10.7vw;
}
.cop18 {
  width: 10vw;
  left: 11.5vw;
  top: 31.7vw;
}
.cop19 {
  width: 10vw;
  left: 76vw;
  top: 31.7vw;
}
.cop20 {
  width: 10vw;
  left: 32.9vw;
  top: 121vw;
}
.blur {
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.blur2 {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.blur3 {
  width: 100vw;
  height: 102vh;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.opa {
  opacity: 70%;
}
.shape {
  display: none;
}
.shape2 {
  display: none;
}
.shape3 {
  display: none;
}
.shape4 {
  display: none;
}
.shape5 {
  display: none;
}
.shape6 {
  display: none;
}
.shape7 {
  display: none;
}
.move-area{
  width: 52.6vw;
  height: 42vh;
  padding: 10% 45%;
}
.container {
  width: 80%;
  top: 42.9vw;
  left: 47.8vw;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
  background: #FFFFFF;
}
.eye:after {
  position: absolute;
  bottom: 0.2vw;
  right: 0.2vw;
  width: 1.2vw;
  height: 1.2vw;
  background: #003DE3;
  border-radius: 50%;
  content: " ";
}
}
